@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

body {

	background-color: #191919;
	background-image: url(../assets/bg-blur.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

@media screen and (max-width: 960px) {
	body {
		background-size:auto;
	}
}
